@using Model
@model IEnumerable<Model.Stadion>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welkom</h1>
    <p class="lead">Welkom bij de site van de voetbalbond</p>
    <p>@Html.ActionLink("Meer info","About","Home",htmlAttributes:new {@class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Calender</h2>
        <p>
            Bekijk een overzicht van de komende wedstrijden en boek een ticket voor je favoriete wedstrijd
        </p>
        <p>@Html.ActionLink("Calender","Index","Calender",null,new { @class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Ploegen</h2>
        <p>Raadpleeg een overzicht van alle clubs die meedoen aan de competitie</p>
        <p>@Html.ActionLink("Ploegen","Index","Club",null,new {@class= "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Stadions</h2>
        <p>Raadpleeg een overzicht van alle stadions</p>
        <p>@Html.ActionLink("Stadions", "ListForm", "Stadion", null, new { @class = "btn btn-default" })</p>
    </div>
</div>