<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VoetbalClubEntities" connectionString="metadata=res://*/VoetbalClubEntities.csdl|res://*/VoetbalClubEntities.ssdl|res://*/VoetbalClubEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:servervivesgoal.database.windows.net,1433;initial catalog=VoetbalClub;user id=david@servervivesgoal;password=azerty-123;multipleactiveresultsets=True;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 


  </connectionStrings>

</configuration>