@using Model
@model IEnumerable<Model.Wedstrijd>

    @{
        ViewBag.Title = "Index";
    }


<h2>Calender</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-3 col-md-4">
                Selecteer deelnemende ploeg
            </div>
            <div class="col-sm-3 col-md-4">
                Selecteer een datum
            </div>
            <div class="col-sm-3 col-md-4"></div>

        </div>
        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-3 col-md-4">
                @Html.DropDownList("id", (SelectList) ViewBag.ClubId, htmlAttributes: new {@class = "form-control"})
            </div>
            <div class="col-sm-3 col-md-4">
                <input type="text" id="datepicker">
            </div>
            <div class="col-sm-3 col-md-4"></div>

        </div>


    </div>
    <input type="hidden" name="dateField" id="dateField" value="test" />
    <script type="text/javascript">

        window.onload = function () {
            var currentDate;
            $(document).ready(function () {

                $('#datepicker').datepicker(
                {
                    dateFormat: "dd-mm-yy",
                    onSelect: function() {
                        currentDate = $("#datepicker").datepicker("getDate");
                        if (currentDate != null) {
                            console.log(currentDate);
                            $("form").trigger(currentDate);
                            $('#dateField').val(currentDate);
                        }
                    }
                });
                

                $('#datepicker').datepicker("setDate", new Date());
                currentDate = $("#datepicker").datepicker("getDate");
                $('#dateField').val(currentDate);

                
            });
        }


    </script>




if (Model != null)
 {
     foreach (Wedstrijd wedstrijd in Model)
     {
         @Html.DisplayFor(item => wedstrijd.datum)
         ;
     }

     <input type="submit" value="Zend" class="btn btn-default"/>

 }
 else
 {
     <p>Er werden geen wedstrijden gevonden op deze datum</p>
 }
}

    



