
@{
    ViewBag.Title = "Home pagina";
    Layout = "~/Views/Shared/_LayoutIntroductie.cshtml";
}

<h2>Welkom</h2>

<div class="jumbotron">
    <a href="/Content/Images/Foto1.jpg">
        <img src="/Content/Images/Foto1.jpg" width="500" height="300"/>
    </a> 
</div>


